/** @format */

@import url("./reset.css");
@import url("../font/dansing-script.css");
@import url("../components/input.css");
@import url("../components/button.css");
@import url("../components/errorMessage.css");
@import url("../components/title.css");
body {
  font-family: "Dancing Script", cursive;
  background-image: url("../images/register-background-img.avif");
  background-size: cover;
}

.form-container {
  margin: 200px auto;
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid 2px blue;
  border-radius: 20px;
  padding: 50px 0px;
  background-color: rgb(15, 15, 93, 0.4);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-label {
  margin-bottom: 4px;
  color: white;
  font-size: 19px;
  font-weight: 500px;
}
.error-input-border {
  border-color: red;
  border-width: 2px;
}
.login-page-link-container{
  margin-top: 10px;
}
.login-page-link-container a{
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.password-container {
  position: relative;
}
.form-hidden-eye-paswrd {
  position: absolute;
  top: 31px;
  right: 10px;
  font-size: 13px;
  color: rgb(12, 12, 92);
}
.icon-hidden {
  display: none;
}
.icon-show {
  display: block;
}
.form-hidden-eye-slash-paswrd {
  position: absolute;
  top: 33px;
  right: 10px;
  font-size: 11px;
  color: rgb(12, 12, 92);
}
.repeat-password-container {
  position: relative;
}
.form-hidden-eye-repreat-paswrd {
  position: absolute;
  top: 31px;
  right: 10px;
  font-size: 13px;
  color: rgb(12, 12, 92);
}
.form-hidden-eye-slash-repreat-paswrd {
  position: absolute;
  top: 33px;
  right: 10px;
  font-size: 11px;
  color: rgb(12, 12, 92);
}

.rigth {
  float: right;
  transition: all 2s ease-in-out;
  transform: scale(0.7);
}
.size {
  transform: scale(1);
}
